# UCF for the 4 bit counter
# Change "clk" pin assignment to "V4" (BTN_NORTH) to
# manually control the clock signal (don't forget "PULLDOWN")
# Change "clk" to "C9" (CLK_50MHz) to run counter off
# 50MHz clock
NET "i_Clk" LOC = "C9" ;

NET "i_RX_Serial" LOC = "A16"; # RXD - Receive data  from HOST

NET "o_RX_DV" LOC = "B16";

NET "o_RX_Byte<0>" LOC = "F12" ; # LED<0>
NET "o_RX_Byte<1>" LOC = "E12" ; # LED<1>
NET "o_RX_Byte<2>" LOC = "E11" ; # LED<2>
NET "o_RX_Byte<3>" LOC = "F11" ; # LED<3>
NET "o_RX_Byte<4>" LOC = "C11" ; # LED<4>
NET "o_RX_Byte<5>" LOC = "D11" ; # LED<5>
NET "o_RX_Byte<6>" LOC = "E9"  ; # LED<6>
NET "o_RX_Byte<7>" LOC = "F9"  ; # LED<7>

